table{
    box-sizing: content-box;
    display: inline-block;
}
td{
    background-color:gold;
    width: 100px;
    height: 100px;
    padding: 0px;
}
button{
    width: inherit;
    height: inherit;
    background-color: burlywood;
    margin: 0%;
    padding: 0;
}
div{
    text-align: center;
}
